{% extends "layout.html" %}

{% block page_title %}电场城管大队{% endblock %}
{% block page_vars %}
    <script>
        registerContext({
            userDates: {{ user_dates|safe }},
            userData: {{ user_data|safe }},
            questionDates: {{ question_dates|safe }},
            questionData: {{ question_data|safe }},
            answerDates: {{ answer_dates|safe }},
            answerData: {{ answer_data|safe }}
        })
    </script>
{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="no-margin-top">用户</h3>

                <div class="user-charts"></div>

                <h3>提问</h3>

                <div class="question-charts"></div>

                <h3>回答</h3>

                <div class="answer-charts"></div>
            </div>
        </div>
    </div>
{% endblock %}
