{% macro field_errors(field) %}
    <ul class="list-form-errors text-danger list-unstyled">
        <li>{{ field.errors[0] }}</li>
    </ul>
{% endmacro %}


{% macro field(field) %}
    <div class="form-group">
        {{ field.label() }}
        {{ field(class="form-control", placeholder=field.description, **kwargs) }}
        {{ field_errors(field) }}
    </div>
{% endmacro %}


{% macro checkbox_field(field) %}
    <div class="form-group clearfix">
        <div class="col-md-offset-2 col-sm-10">
            <div class="checkbox">
                {{ field() }}
                {{ field.label() }}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro form_submit(btn_text) %}
    <div class="form-group clearfix">
        <button type="submit" class="btn btn-primary">{{ btn_text }}</button>
    </div>
{% endmacro %}